
# Ignore the python cache

__pycache__

# Ignore grafic files

*.svg
*.png
*.jpg
*.pdf

# Ignore data folder and stored numpy tensor

data/
plots/
results/
clients/
.idea/
*.npy
rec/
lib/biosignal_toolbox.egg-info
*.ipynb
variance_tools_api/
.vscode/
python_interpreter/
src/JTE_Project/offline/saved_online_models/tcn_mtl.keras
