
# Ignore the python cache

__pycache__

# Ignore grafic files

*.svg
*.png
*.jpg
*.pdf

# Ignore data folder and stored numpy tensor

data/
plots/
results/
clients/
*.npy
rec/
lib/biosignal_toolbox.egg-info
*.ipynb
variance_tools_api/
.vscode/
python_interpreter/
.idea/